/* 去掉ul默认padding */
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
/* 设置a默认颜色 */
a {
  color: #666;
}
html {
  font-size: 100px;
}
/* 给html 和 body固定高度 */
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  font-size: 0.12rem;
  padding: 0.87rem 0 1.42rem;
}
/* 给中间主体部分高度也是100% */
#main {
  height: 100%;
  overflow: hidden;
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
header .head-box {
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
header .head-box a.logo {
  margin-right: 10px;
  width: 0.84rem;
  height: 0.25rem;
  background: url("../images/mlogo.png") center center / cover;
}
header .head-box form {
  position: relative;
  flex: 1;
  margin-right: 0.1rem;
  font-size: 0.14rem;
}
header .head-box form input {
  width: 100%;
  height: 0.30rem;
  font-size: 0.14rem;
  border-radius: 0.2rem;
  padding-left: 0.22rem;
  text-align: left;
  margin-bottom: 0;
  background-color: #f9f9f9;
}
header .head-box form i {
  position: absolute;
  color: #cacaca;
  top: 0.08rem;
  left: 0.05rem;
}
header .head-box a.download {
  font-size: 0.11rem;
  height: 0.2rem;
  line-height: 0.1rem;
  color: #f85000;
  border: 0.01rem solid #f85000;
  padding: 0.04rem 0.1rem;
  border-radius: 0.2rem;
}
header .head-tab {
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
header .head-tab ul {
  white-space: nowrap;
  overflow-x: auto;
}
header .head-tab ul li {
  padding: 0 12px;
  display: inline-block;
}
header .head-tab ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #333;
  font-weight: 700;
}
header .head-tab ul::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #efefef;
}
footer .brandSort a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  background-color: #f85000;
}
footer .brandSort a img {
  width: 0.2rem;
  height: 0.2rem;
}
footer .brandSort a h4 {
  line-height: 0.4rem;
  color: #fff;
  margin: 0;
}
footer .toolBar {
  height: 0.34rem;
  line-height: 0.34rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
  margin: 0.1rem 0;
  display: flex;
}
footer .toolBar > a {
  flex: 1;
  font-size: 0.14rem;
  text-align: center;
}
footer .toolBar > a.top img {
  height: 0.15rem;
  width: 0.15rem;
}
footer .toolBar > a + a {
  border-left: 0.01rem solid #ccc;
}
footer .siteInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.06rem;
}
footer .siteInfo .download {
  margin-right: 0.05rem;
  color: #f85000;
}
footer .siteInfo p {
  margin: 0;
  color: #333;
}
a {
  text-decoration: none;
}
#main {
  overflow: auto;
  /* 导航 */
}
#main #nav {
  height: 226px;
  overflow: hidden;
  padding: .15rem .06rem;
}
#main #nav .mui-row div {
  text-align: center;
}
#main #nav .mui-row div a {
  width: 100%;
  text-decoration: none;
  display: block;
}
#main #nav .mui-row div a img {
  vertical-align: middle;
  width: .7rem;
  height: .7rem;
  padding: 0.1rem;
}
#main #nav .mui-row div a .name {
  color: #5a5a5a;
  font-size: 0.13rem;
}
#main #discount .title a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  background-color: #f85000;
  text-decoration: none;
}
#main #discount .title a img {
  width: 0.2rem;
  height: 0.2rem;
}
#main #discount .title a h4 {
  line-height: 0.4rem;
  color: #fff;
  margin: 0;
}
#main #discount #list {
  background-color: #efefef;
}
#main #discount #list ul {
  padding: 0.08rem 0.08rem;
}
#main #discount #list ul li {
  padding: 0.07rem 0;
  border-bottom: 0.005rem solid #ccc;
}
#main #discount #list ul li a {
  display: block;
  text-decoration: none;
}
#main #discount #list ul li a img {
  min-width: 1rem;
  min-height: 1rem;
  padding: .1rem .05rem;
}
#main #discount #list ul li a .mui-media-body {
  padding-top: .12rem;
}
#main #discount #list ul li a .mui-media-body .goods-title {
  color: #333;
  font-size: .15rem;
  white-space: normal;
  text-align: left;
  width: 95%;
}
#main #discount #list ul li a .mui-media-body .goods-title .sale {
  color: red;
}
#main #discount #list ul li a .mui-media-body .other {
  padding-top: 0.05rem;
  position: relative;
  color: #a1a1a1;
}
#main #discount #list ul li a .mui-media-body .other .comment {
  position: absolute;
  right: 0.2rem;
}
#main #discount #list ul li a .mui-media-body .other .comment .mui-icon-chat {
  font-size: 0.12rem;
}
#main #discount #list .more-bar {
  width: 80%;
  margin: 0.2rem 0.3rem;
}
#main #discount #list .more-bar a {
  width: 100%;
  text-decoration: none;
}
